:root {
  --color-primary: #e74859;
  --color-secondary: #FFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #444;
  color: #FAFAFA;
}

button {
  background: #AAA;
  height: 48px;
  border-radius: 7px;
  color: #FFF;
  border: none;
  cursor: pointer;
}

button.primary {
  background: var(--color-primary);
}

button.secondary {
  background: var(--color-secondary);
  color: #333;
}

button.ghost {
  background: rgba(0,0,0,0);
  border: 1px solid #AAA;
}

button.ghost.primary {
  border-color: var(--color-primary);
}

button.ghost.secondary {
  border-color: var(--color-secondary);
}



input {
  height: 48px;
  padding: 10px;
  background: #555;
  border: 1px solid #222;
  border-radius: 7px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}