.Settings {
    height: 100vh;
}

.Settings .header {
    box-shadow: var(--shadow-default);
    height: fit-content;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.Settings .header .placeholder {
    width: 48px;
    height: 48px;
}
.Settings h1 {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.settingsList {
    display: flex;
    width: 100%;
    height: 80vh;
    flex-flow: column;
    align-items: center;
    margin-top: 4rem !important;
}

.ui.list>.item {
    padding: 10px !important;
}

.ui.input {
    display: table-cell !important;
}

.inLine {
    display: flex !important;
    flex-flow: row;
}

