.SignUp
  height: 100%
  display: flex !important
  flex-flow: column
  justify-content: space-around
  align-items: center

  .Logo 
    padding: 10px 10px 40px 10px;
    border-bottom: 1px solid white;


  .form
    width: 90%
    max-width: 400px
    text-align: center

  .field
    width: 100%
    margin: 30px 0 !important

  label
    color: white !important
    text-align: center

  .submit-container
    margin: 20px

  .signup-link
    color: #aaa !important
    transition: all 200ms
    text-decoration: underline

    &:hover
      color: #EEE !important