.SignUp
  height: 100%
  display: flex !important
  flex-flow: column
  justify-content: center
  align-items: center

  .header 
    height: 38px
    width: 100%
    display: flex
    justify-content: space-around
    align-items: center
    border-bottom: 1px solid black


  .form
    width: 90%
    max-width: 400px
    text-align: center

  .field
    width: 100%
    margin: 30px 0 !important

  label
    color: white !important
    text-align: center

  .submit-container
    margin: 20px

  .signup-link
    color: #aaa !important
    transition: all 200ms
    text-decoration: underline

    &:hover
      color: #EEE !important