.SignUp
  height: 100%
  display: flex !important
  flex-flow: column
  justify-content: center
  align-items: center
  text-align: center

  .form
    width: 90%
    max-width: 400px

  .field
    width: 100%
    margin: 50px 0 !important

  label
    color: white !important