.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #3d3d3d;
}

.Placeholder {
    height: 28px;
    width: 28px;
}

