.Team
  box-shadow: 0 3px 6px rgba(0,0,0,0.2)
  width: 250px
  height: 130px
  border-radius: 7px
  transition: all 300ms

  &.active
    box-shadow: 0 0 10px #EEE

  .Player
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid #3a3a3a
    padding: 5px

  .Player:last-child
    border-bottom: none